<!-- <div id="footerSection">
  <div class="container">
    <div class="row">

      <div style="text-align: center;">
        <h5>TES FE TDI || © 2023</h5> <img src="" alt="">
        <h5>Developed By : Fajar Habib Zaelani</h5>
      </div>

    </div>
  </div>
</div> -->
<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muteds mt-2">

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.025);">
    <a href="">Pt. Tabel Data Informatika </a>
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> © 2023</a>
  </div>
  <div class="text-center mb-2" style="background-color: rgba(0, 0, 0, 0.025);">
    <a href="">Tes Frontend || </a>
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> By Fajar Habib Zaelani</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->